<a href="https://colab.research.google.com/github/Sachini007/Data-Storm-3.0/blob/main/Semi_Finals_05_03_22/FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [2]:
!cd '/gdrive/MyDrive/DataStorm 2022 Semi Finals'

In [3]:
import pandas as pd

In [4]:
train_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/train_promo.csv')
test_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/test_promo.csv')
val_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/val_promo.csv')

In [5]:
train = train_orig.copy()
test = test_orig.copy()
val = val_orig.copy()

In [6]:
train.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,2021-10-01,category_1,3418,18,NaN,NaN,NaN,NaN
1,2021-10-01,category_1,3427,2,NaN,NaN,NaN,NaN
2,2021-10-01,category_1,17287,2,NaN,NaN,NaN,NaN
3,2021-10-01,category_1,17296,28,NaN,NaN,NaN,NaN
4,2021-10-01,category_1,24136,4,10.0,Percentage,2021-10-01,2021-10-07

In [7]:
val.head()

,CategoryCode,ItemCode,OnPromo,WeeklySales,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,category_2,1006090,0,9,2022-02-18,NaN,NaN,NaN,NaN
1,category_2,1105009,0,15,2022-02-18,NaN,NaN,NaN,NaN
2,category_2,1098502,0,7,2022-03-04,NaN,NaN,NaN,NaN
3,category_1,1081321,0,25,2022-03-04,NaN,NaN,NaN,NaN
4,category_4,1074823,0,24,2022-02-18,NaN,NaN,NaN,NaN

In [8]:
#val.loc[val['OnPromo'] == 1]
val.query('DiscountType.notna()', engine='python')

,CategoryCode,ItemCode,OnPromo,WeeklySales,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
60,category_2,30877,1,121,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
64,category_2,1090258,1,61,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
75,category_3,1066570,1,124,2022-02-25,15.0,Percentage,2022-02-25,2022-03-03
81,category_1,1085749,1,17,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
82,category_2,50785,1,72,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
89,category_2,1101571,1,17,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
100,category_2,1090258,1,27,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
123,category_2,50785,1,39,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
130,category_2,64978,1,22,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
140,category_3,1066570,1,41,2022-03-11,15.0,Percentage,2022-03-11,2022-03-17
149,category_2,1006090,1,28,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
152,category_2,1071106,1,101,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
172,category_3,1066570,1,54,2022-03-04,15.0,Percentage,2022-03-04,2022-03-10
180,category_2,1076938,1,16,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
191,category_2,50785,1,50,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
218,category_2,30877,1,98,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
245,category_1,17287,1,65,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
284,category_2,124954,1,35,2022-02-18,25.0,Percentage,2022-02-18,2022-02-24
288,category_2,1101571,1,40,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
299,category_2,64978,1,11,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
330,category_4,23200,1,12,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
360,category_2,40759,1,105,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17

In [9]:
test.head()

,CategoryCode,ItemCode,OnPromo,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,category_1,1048975,0,2022-03-11,NaN,NaN,NaN,NaN
1,category_1,43738,0,2022-03-11,NaN,NaN,NaN,NaN
2,category_2,1044502,0,2022-02-18,NaN,NaN,NaN,NaN
3,category_2,913561,0,2022-03-11,NaN,NaN,NaN,NaN
4,category_2,216151,0,2022-03-11,NaN,NaN,NaN,NaN

In [10]:
test.loc[test['OnPromo'] == 1]
#test.query('DiscountType.notna()', engine='python')

,CategoryCode,ItemCode,OnPromo,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
20,category_3,1064572,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
37,category_2,1076929,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
38,category_2,1010068,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
58,category_2,87559,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
109,category_2,130993,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
110,category_2,836152,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
118,category_2,20824,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
127,category_2,1071124,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
130,category_2,130993,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
149,category_1,1048975,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
177,category_2,59749,1,2022-02-25,25.0,Percentage,2022-02-25,2022-03-03
187,category_2,1010068,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
189,category_3,1064572,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
196,category_2,1006108,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
201,category_3,7666,1,2022-03-04,20.0,Percentage,2022-03-04,2022-03-10
238,category_2,59749,1,2022-03-11,15.0,Percentage,2022-03-11,2022-03-17
244,category_3,1064572,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
245,category_3,7666,1,2022-03-11,20.0,Percentage,2022-03-11,2022-03-17
260,category_2,999403,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
289,category_1,1077118,1,2022-02-18,15.0,Percentage,2022-02-18,2022-02-24
295,category_3,1090024,1,2022-02-18,20.0,Percentage,2022-02-18,2022-02-24
336,category_2,87559,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
363,category_2,59749,1,2022-03-04,25.0,Percentage,2022-03-04,2022-03-10
373,category_2,130993,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10

In [11]:
test['WeeklySales'] = 0

In [12]:
train['OnPromo'] = train['DiscountValue'].apply(lambda x: 1 if x > 0 else 0)

train.drop(['PromotionStartDate', 'PromotionEndDate'], axis=1, inplace=True)
test.drop(['PromotionStartDate', 'PromotionEndDate'], axis=1, inplace=True)
val.drop(['PromotionStartDate', 'PromotionEndDate'], axis=1, inplace=True)

In [13]:
train.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,OnPromo
0,2021-10-01,category_1,3418,18,NaN,NaN,0
1,2021-10-01,category_1,3427,2,NaN,NaN,0
2,2021-10-01,category_1,17287,2,NaN,NaN,0
3,2021-10-01,category_1,17296,28,NaN,NaN,0
4,2021-10-01,category_1,24136,4,10.0,Percentage,1

In [14]:
train['DiscountValue'].value_counts()

10.0    192
15.0     41
25.0     16
20.0     15
30.0     11
5.0       3
Name: DiscountValue, dtype: int64

In [15]:
train['DiscountType'].value_counts()

Percentage    275
Amount          3
Name: DiscountType, dtype: int64

In [16]:
df = pd.concat([train.assign(ind="train"), val.assign(ind="val"), test.assign(ind="test")])
df.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,OnPromo,ind
0,2021-10-01,category_1,3418,18,NaN,NaN,0,train
1,2021-10-01,category_1,3427,2,NaN,NaN,0,train
2,2021-10-01,category_1,17287,2,NaN,NaN,0,train
3,2021-10-01,category_1,17296,28,NaN,NaN,0,train
4,2021-10-01,category_1,24136,4,10.0,Percentage,1,train

In [17]:
df['DateID'] = pd.to_datetime(df['DateID'])

In [18]:
df.isnull().sum()

DateID              0
CategoryCode        0
ItemCode            0
WeeklySales         0
DiscountValue    4405
DiscountType     4405
OnPromo             0
ind                 0
dtype: int64

In [19]:
df['DiscountType'].fillna('No Discount', inplace=True)
df.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,OnPromo,ind
0,2021-10-01,category_1,3418,18,NaN,No Discount,0,train
1,2021-10-01,category_1,3427,2,NaN,No Discount,0,train
2,2021-10-01,category_1,17287,2,NaN,No Discount,0,train
3,2021-10-01,category_1,17296,28,NaN,No Discount,0,train
4,2021-10-01,category_1,24136,4,10.0,Percentage,1,train

In [20]:
df.fillna(0, inplace=True)

In [21]:
df.isnull().sum()

DateID           0
CategoryCode     0
ItemCode         0
WeeklySales      0
DiscountValue    0
DiscountType     0
OnPromo          0
ind              0
dtype: int64

In [22]:
import datetime

df['Month'] = df['DateID'].dt.month
df['Year'] = df['DateID'].dt.year
df['Day'] = df['DateID'].dt.day
df['WeekNum'] = (df['Day'] - 1) // 7 + 1
df.drop('DateID', axis=1, inplace=True)

df.head()

,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,OnPromo,ind,Month,Year,Day,WeekNum
0,category_1,3418,18,0.0,No Discount,0,train,10,2021,1,1
1,category_1,3427,2,0.0,No Discount,0,train,10,2021,1,1
2,category_1,17287,2,0.0,No Discount,0,train,10,2021,1,1
3,category_1,17296,28,0.0,No Discount,0,train,10,2021,1,1
4,category_1,24136,4,10.0,Percentage,1,train,10,2021,1,1

In [ ]:
!pip install pandas-profiling &> /dev/null

from pandas_profiling import ProfileReport

profile = ProfileReport(train_ev)
profile.to_notebook_iframe()

In [27]:
df = pd.get_dummies(df, columns=['CategoryCode', 'ItemCode', 'DiscountValue', 'DiscountType',
                                 'OnPromo', 'Month', 'Year', 'Day', 'WeekNum'], drop_first=True)

In [28]:
train, val, test = df[df["ind"].eq("train")], df[df["ind"].eq("val")], df[df["ind"].eq("test")]

In [29]:
train.to_csv('/content/train.csv',index=False)
val.to_csv('/content/val.csv',index=False)
test.to_csv('/content/test.csv',index=False)

In [30]:
train_data = train.copy()
val_data = val.copy()
test_data = test.copy()

In [31]:
Y_train = train_data['WeeklySales']
X_train = train_data.drop('WeeklySales', axis=1)

Y_valid = val_data['WeeklySales']
X_valid = val_data.drop('WeeklySales', axis=1)

In [32]:
X_test = test_data.drop("WeeklySales", axis=1)

In [33]:
X_train.drop('ind', axis=1, inplace=True)
X_valid.drop('ind', axis=1, inplace=True)
X_test.drop('ind', axis=1, inplace=True)

In [34]:
cols = list(X_train.columns)
len(cols)

239

In [35]:
import keras
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error

In [36]:
import tensorflow as tf 

epochs = 40
batch = 256
lr = 0.0003
adam = tf.optimizers.Adam(lr)
# sgd = tf.optimizers.SGD(lr)

In [37]:
X_train.shape

(3979, 239)

In [38]:
X_valid.shape

(373, 239)

In [39]:
import numpy as np

X_train = np.asarray(X_train).astype(np.float32)
Y_train = np.asarray(Y_train).astype(np.float32)

X_valid = np.asarray(X_valid).astype(np.float32)
Y_valid = np.asarray(Y_valid).astype(np.float32)

X_test = np.asarray(X_test).astype(np.float32)

In [40]:
from keras import backend as K
import tensorflow as tf

def wmse(ground_truth, predictions):
    square_errors = tf.math.abs(ground_truth - predictions) 
    weights = tf.ones_like(square_errors)
    mask = tf.less(predictions, ground_truth)
    weights =  K.switch(mask, weights * 3, weights)
    weighted_mse = K.mean(square_errors * weights)
    return weighted_mse

In [41]:
mape = tf.keras.losses.MeanAbsolutePercentageError()

In [42]:
model_mlp = Sequential()
model_mlp.add(Dense(100, activation='relu', input_dim=X_train.shape[1]))
model_mlp.add(Dense(50, activation='relu'))
model_mlp.add(Dense(1))
model_mlp.compile(loss='mape', optimizer=adam)
model_mlp.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               24000

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 29,101
Trainable params: 29,101
Non-trainable params: 0
_________________________________________________________________

In [43]:
mlp_history = model_mlp.fit(X_train, Y_train, validation_data=(X_valid, Y_valid), epochs=epochs, verbose=2)

Epoch 1/40
125/125 - 2s - loss: 88.8048 - val_loss: 81.2356 - 2s/epoch - 15ms/step
Epoch 2/40
125/125 - 0s - loss: 73.4080 - val_loss: 73.7685 - 422ms/epoch - 3ms/step
Epoch 3/40
125/125 - 0s - loss: 70.4586 - val_loss: 71.7654 - 363ms/epoch - 3ms/step
Epoch 4/40
125/125 - 0s - loss: 68.7083 - val_loss: 71.6013 - 448ms/epoch - 4ms/step
Epoch 5/40
125/125 - 1s - loss: 66.9083 - val_loss: 70.4031 - 534ms/epoch - 4ms/step
Epoch 6/40
125/125 - 1s - loss: 65.0996 - val_loss: 69.2424 - 643ms/epoch - 5ms/step
Epoch 7/40
125/125 - 1s - loss: 63.2435 - val_loss: 68.4396 - 772ms/epoch - 6ms/step
Epoch 8/40
125/125 - 0s - loss: 61.4852 - val_loss: 67.6699 - 425ms/epoch - 3ms/step
Epoch 9/40
125/125 - 1s - loss: 59.5122 - val_loss: 66.5272 - 507ms/epoch - 4ms/step
Epoch 10/40
125/125 - 0s - loss: 57.7699 - val_loss: 64.7697 - 392ms/epoch - 3ms/step
Epoch 11/40
125/125 - 1s - loss: 55.9512 - val_loss: 62.8981 - 505ms/epoch - 4ms/step
Epoch 12/40
125/125 - 0s - loss: 54.3826 - val_loss: 62.8080 - 466ms/epoch - 4ms/step
Epoch 13/40
125/125 - 1s - loss: 52.7280 - val_loss: 62.0610 - 556ms/epoch - 4ms/step
Epoch 14/40
125/125 - 0s - loss: 51.2699 - val_loss: 61.0169 - 406ms/epoch - 3ms/step
Epoch 15/40
125/125 - 0s - loss: 50.0276 - val_loss: 60.0973 - 500ms/epoch - 4ms/step
Epoch 16/40
125/125 - 0s - loss: 48.7445 - val_loss: 59.5141 - 492ms/epoch - 4ms/step
Epoch 17/40
125/125 - 0s - loss: 47.6335 - val_loss: 58.6822 - 454ms/epoch - 4ms/step
Epoch 18/40
125/125 - 0s - loss: 46.6012 - val_loss: 58.4198 - 379ms/epoch - 3ms/step
Epoch 19/40
125/125 - 0s - loss: 45.4389 - val_loss: 57.8207 - 406ms/epoch - 3ms/step
Epoch 20/40
125/125 - 0s - loss: 44.5082 - val_loss: 56.8436 - 464ms/epoch - 4ms/step
Epoch 21/40
125/125 - 0s - loss: 43.7647 - val_loss: 57.5238 - 437ms/epoch - 3ms/step
Epoch 22/40
125/125 - 0s - loss: 42.6321 - val_loss: 56.6135 - 457ms/epoch - 4ms/step
Epoch 23/40
125/125 - 0s - loss: 41.6521 - val_loss: 56.0503 - 461ms/epoch - 4ms/step
Epoch 24/40
125/125 - 0s - loss: 40.7777 - val_loss: 55.9670 - 493ms/epoch - 4ms/step
Epoch 25/40
125/125 - 0s - loss: 39.9817 - val_loss: 55.9306 - 396ms/epoch - 3ms/step
Epoch 26/40
125/125 - 0s - loss: 39.2279 - val_loss: 55.3318 - 251ms/epoch - 2ms/step
Epoch 27/40
125/125 - 0s - loss: 38.6354 - val_loss: 55.2363 - 232ms/epoch - 2ms/step
Epoch 28/40
125/125 - 0s - loss: 37.9571 - val_loss: 54.7350 - 246ms/epoch - 2ms/step
Epoch 29/40
125/125 - 0s - loss: 37.3776 - val_loss: 54.6613 - 250ms/epoch - 2ms/step
Epoch 30/40
125/125 - 0s - loss: 36.7334 - val_loss: 54.3582 - 235ms/epoch - 2ms/step
Epoch 31/40
125/125 - 0s - loss: 36.1846 - val_loss: 54.7538 - 228ms/epoch - 2ms/step
Epoch 32/40
125/125 - 0s - loss: 35.5557 - val_loss: 54.4973 - 251ms/epoch - 2ms/step
Epoch 33/40
125/125 - 0s - loss: 35.1450 - val_loss: 54.3420 - 245ms/epoch - 2ms/step
Epoch 34/40
125/125 - 0s - loss: 34.7081 - val_loss: 54.5315 - 240ms/epoch - 2ms/step
Epoch 35/40
125/125 - 0s - loss: 34.0860 - val_loss: 54.2998 - 239ms/epoch - 2ms/step
Epoch 36/40
125/125 - 0s - loss: 33.8539 - val_loss: 54.1921 - 236ms/epoch - 2ms/step
Epoch 37/40
125/125 - 0s - loss: 33.3223 - val_loss: 54.1891 - 257ms/epoch - 2ms/step
Epoch 38/40
125/125 - 0s - loss: 32.8829 - val_loss: 54.1835 - 223ms/epoch - 2ms/step
Epoch 39/40
125/125 - 0s - loss: 32.4018 - val_loss: 54.1849 - 231ms/epoch - 2ms/step
Epoch 40/40
125/125 - 0s - loss: 32.1391 - val_loss: 54.1498 - 229ms/epoch - 2ms/step

In [44]:
#model_mlp.summary()

In [45]:
#tf.keras.utils.plot_model(model_mlp)

In [46]:
Y_pred_3 = model_mlp.predict(X_valid)
#Y_test = model_mlp.predict(X_test)

In [47]:
#import numpy as np
#np.set_printoptions(threshold=np.inf)

In [48]:
y_pred_3 = Y_pred_3.astype(int)

In [49]:
#import matplotlib.pyplot as plt
#import seaborn as sns

In [50]:
#plt.rcParams["figure.figsize"] = (20, 10)

In [51]:
#plt.plot(Y_valid, label='Actual')
#plt.plot(y_pred_3, label='Predicted with 3')
#plt.plot(y_pred_2, label='Predicted with 2')

#plt.legend()
#plt.show()

In [52]:
mean_absolute_percentage_error(Y_valid, y_pred_3)

0.5414984146159252

In [53]:
Y_valid = (np.asarray(Y_valid)).reshape((-1, 1))
Y_pred = np.asarray(y_pred_3)


print(Y_valid.shape, Y_pred.shape)

(373, 1) (373, 1)

In [73]:
sub = (Y_pred - Y_valid)

In [87]:
sub

array([[   2.],
       [  10.],
       [   2.],
       [  11.],
       [   0.],
       [ -43.],
       [  -5.],
       [  19.],
       [  16.],
       [  18.],
       [ -25.],
       [ -37.],
       [ -15.],
       [ -79.],
       [   0.],
       [   6.],
       [  -8.],
       [ -24.],
       [-287.],
       [  18.],
       [   5.],
       [  10.],
       [   2.],
       [   1.],
       [   5.],
       [   0.],
       [  19.],
       [   8.],
       [   0.],
       [  12.],
       [ 258.],
       [   0.],
       [  16.],
       [  17.],
       [ -10.],
       [  18.],
       [  15.],
       [ -44.],
       [ -32.],
       [ -14.],
       [  18.],
       [  16.],
       [   2.],
       [   1.],
       [  10.],
       [  16.],
       [   1.],
       [ -16.],
       [  17.],
       [   8.],
       [   6.],
       [  13.],
       [  20.],
       [  18.],
       [   3.],
       [  19.],
       [  18.],
       [  18.],
       [ 229.],
       [  17.],
       [ -39.],
       [ -23.],
       [  15.],
       [   5.],
       [ -25.],
       [  -2.],
       [  13.],
       [  14.],
       [  14.],
       [ -12.],
       [  20.],
       [  20.],
       [  14.],
       [   4.],
       [   1.],
       [ -59.],
       [  -2.],
       [   4.],
       [  -7.],
       [   2.],
       [ -52.],
       [  11.],
       [ -31.],
       [  20.],
       [  12.],
       [  -4.],
       [ -15.],
       [   4.],
       [  -5.],
       [  13.],
       [ -67.],
       [  11.],
       [  10.],
       [  19.],
       [  10.],
       [ -20.],
       [   5.],
       [   5.],
       [ -20.],
       [   5.],
       [   3.],
       [   6.],
       [ -46.],
       [  -4.],
       [-111.],
       [  17.],
       [  19.],
       [  14.],
       [ -20.],
       [  -5.],
       [   5.],
       [  15.],
       [ -47.],
       [   4.],
       [  10.],
       [   3.],
       [   0.],
       [  10.],
       [  15.],
       [ -24.],
       [ -27.],
       [   6.],
       [ -11.],
       [  -3.],
       [  17.],
       [   7.],
       [   0.],
       [   9.],
       [  17.],
       [   6.],
       [   6.],
       [   5.],
       [ -10.],
       [ -18.],
       [ -17.],
       [ -25.],
       [  15.],
       [   5.],
       [   5.],
       [ -68.],
       [  20.],
       [   9.],
       [   6.],
       [  13.],
       [  12.],
       [  14.],
       [   3.],
       [  14.],
       [ -17.],
       [  12.],
       [ 130.],
       [ 264.],
       [ -53.],
       [   8.],
       [   9.],
       [ -19.],
       [  19.],
       [ -14.],
       [ -16.],
       [ -23.],
       [  11.],
       [   3.],
       [  20.],
       [  13.],
       [  14.],
       [  18.],
       [  15.],
       [  13.],
       [ -17.],
       [  14.],
       [  16.],
       [ -40.],
       [  13.],
       [   4.],
       [ -16.],
       [-200.],
       [   2.],
       [  14.],
       [   1.],
       [   6.],
       [  12.],
       [   8.],
       [ -42.],
       [ -24.],
       [   5.],
       [  14.],
       [ -37.],
       [   2.],
       [   6.],
       [  10.],
       [ -31.],
       [ -14.],
       [  13.],
       [  19.],
       [  -4.],
       [   2.],
       [  14.],
       [   8.],
       [  19.],
       [   2.],
       [ -16.],
       [   4.],
       [ -57.],
       [  20.],
       [   4.],
       [   3.],
       [  15.],
       [  17.],
       [  10.],
       [   0.],
       [  19.],
       [  10.],
       [ -48.],
       [  16.],
       [  12.],
       [  20.],
       [   9.],
       [  16.],
       [ -14.],
       [ -12.],
       [  16.],
       [  14.],
       [  14.],
       [   3.],
       [  19.],
       [  10.],
       [   7.],
       [   4.],
       [  18.],
       [  19.],
       [ -11.],
       [  20.],
       [ 131.],
       [  -1.],
       [   6.],
       [  18.],
       [ 267.],
       [  14.],
       [   2.],
       [  13.],
       [  -8.],
       [  13.],
       [   3.],
       [   8.],
       [ -31.],
       [ -31.],
       [  14.],
       [  15.],
       [   0.],
       [   7.],
       [  13.],
       [  13.],
       [   0.],
       [   7.],
       [ -29.],
       [   3.],
       [   0.],
       [   8.],
       [  19.],
       [   0.],
       [   6.],
       [ -13.],
       [  17.],
       [ -15.],
       [   1.],
       [   2.],
       [   3.],
       [   9.],
       [ -38.],
       [   5.],
       [  -3.],
       [ 267.],
       [  19.],
       [ -56.],
       [   8.],
       [  19.],
       [   5.],
       [   3.],
       [ -11.],
       [  -5.],
       [  14.],
       [  13.],
       [  18.],
       [  14.],
       [  12.],
       [ -22.],
       [ -17.],
       [ -11.],
       [ -12.],
       [-246.],
       [  19.],
       [   8.],
       [ 233.],
       [ -24.],
       [ 245.],
       [  11.],
       [  87.],
       [  14.],
       [   4.],
       [   0.],
       [   2.],
       [   3.],
       [   3.],
       [  12.],
       [  19.],
       [  20.],
       [ -31.],
       [-313.],
       [   4.],
       [ -61.],
       [  -2.],
       [ -13.],
       [  15.],
       [   9.],
       [ -25.],
       [ -49.],
       [  18.],
       [  14.],
       [   3.],
       [   7.],
       [   1.],
       [ 178.],
       [   6.],
       [  18.],
       [   8.],
       [ -24.],
       [   4.],
       [  13.],
       [  20.],
       [   1.],
       [   5.],
       [  15.],
       [   3.],
       [  14.],
       [   2.],
       [  10.],
       [   5.],
       [  17.],
       [   0.],
       [  18.],
       [   8.],
       [  18.],
       [  20.],
       [  19.],
       [ 192.],
       [  10.],
       [   5.],
       [  18.],
       [  11.],
       [  10.],
       [   0.],
       [  13.],
       [   1.],
       [ -72.],
       [   1.],
       [-354.],
       [   0.],
       [ -17.],
       [  -3.],
       [   1.],
       [ -37.],
       [  13.],
       [   7.],
       [  17.],
       [ 203.],
       [  20.],
       [  20.],
       [   6.],
       [   5.],
       [  13.],
       [  14.],
       [   0.],
       [ -47.]])

In [ ]:
neg_high = []
neg_med = []

for i in sub:
  if i < -100:
    neg_high.append(i)
  elif i < 0:
    neg_med.append(i)
  #if i < 0:
  #  neg_high.append(i)

neg_high = np.asarray(neg_high)
neg_med = np.asarray(neg_med)

mean_high = neg_high.mean()
mean_med = neg_med.mean()

std_high = neg_high.std()
std_med = neg_med.std()

In [79]:
buffer_val_high = (-0.5*mean_high + std_high).astype(int)
buffer_val_med = (mean_med + 2* std_med).astype(int)
print(buffer_val_high, buffer_val_med)

370 21

In [80]:
for i in range(len(sub)):
  if sub[i] < -100:
    sub[i] = sub[i]+buffer_val_high
  elif sub[i] < 0:
    sub[i] = sub[i] + buffer_val_med

In [81]:
y_pred_buff = sub + Y_valid

In [83]:
mean_absolute_percentage_error(Y_valid, y_pred_buff)

0.7390870031817544

In [84]:
from keras import backend as K
import tensorflow as tf

def underforcast(ground_truth, predictions):
  errors = tf.math.abs(ground_truth - predictions)
  weights = tf.ones_like(errors)
  mask = tf.less(predictions, ground_truth)
  weights =  K.switch(mask, weights * 1,0)
  weighted_mse = K.mean(errors * weights/ground_truth)
  return weighted_mse

def overforecast(ground_truth, predictions):
  errors = tf.math.abs(ground_truth - predictions)
  weights = tf.ones_like(errors)
  mask = tf.less(ground_truth, predictions)
  weights =  K.switch(mask, weights * 1,0)
  weighted_mse = K.mean(errors * weights/ground_truth)
  return weighted_mse

In [85]:
print(underforcast(Y_valid, y_pred_buff))
print(overforecast(Y_valid, y_pred_buff))

tf.Tensor(0.0794502808182999, shape=(), dtype=float64)
tf.Tensor(0.6596367223634544, shape=(), dtype=float64)

In [86]:
print(underforcast(Y_valid, Y_pred))
print(overforecast(Y_valid, Y_pred))

tf.Tensor(0.39768891658157257, shape=(), dtype=float64)
tf.Tensor(0.14380949803435258, shape=(), dtype=float64)