<a href="https://colab.research.google.com/github/Sachini007/Data-Storm-3.0/blob/main/Semi_Finals_05_03_22/FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
!cd '/gdrive/MyDrive/DataStorm 2022 Semi Finals'

In [3]:
import pandas as pd

In [4]:
train_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/train_promo.csv')
test_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/test_promo.csv')
val_orig = pd.read_csv('/gdrive/MyDrive/DataStorm 2022 Semi Finals/val_promo.csv')

In [6]:
train = train_orig.copy()
test = test_orig.copy()
val = val_orig.copy()

In [7]:
train.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,2021-10-01,category_1,3418,18,NaN,NaN,NaN,NaN
1,2021-10-01,category_1,3427,2,NaN,NaN,NaN,NaN
2,2021-10-01,category_1,17287,2,NaN,NaN,NaN,NaN
3,2021-10-01,category_1,17296,28,NaN,NaN,NaN,NaN
4,2021-10-01,category_1,24136,4,10.0,Percentage,2021-10-01,2021-10-07

In [9]:
val.head()

,CategoryCode,ItemCode,OnPromo,WeeklySales,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,category_2,1006090,0,9,2022-02-18,NaN,NaN,NaN,NaN
1,category_2,1105009,0,15,2022-02-18,NaN,NaN,NaN,NaN
2,category_2,1098502,0,7,2022-03-04,NaN,NaN,NaN,NaN
3,category_1,1081321,0,25,2022-03-04,NaN,NaN,NaN,NaN
4,category_4,1074823,0,24,2022-02-18,NaN,NaN,NaN,NaN

In [14]:
#val.loc[val['OnPromo'] == 1]
val.query('DiscountType.notna()', engine='python')

,CategoryCode,ItemCode,OnPromo,WeeklySales,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
60,category_2,30877,1,121,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
64,category_2,1090258,1,61,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
75,category_3,1066570,1,124,2022-02-25,15.0,Percentage,2022-02-25,2022-03-03
81,category_1,1085749,1,17,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
82,category_2,50785,1,72,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
89,category_2,1101571,1,17,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
100,category_2,1090258,1,27,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
123,category_2,50785,1,39,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
130,category_2,64978,1,22,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
140,category_3,1066570,1,41,2022-03-11,15.0,Percentage,2022-03-11,2022-03-17
149,category_2,1006090,1,28,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
152,category_2,1071106,1,101,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
172,category_3,1066570,1,54,2022-03-04,15.0,Percentage,2022-03-04,2022-03-10
180,category_2,1076938,1,16,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
191,category_2,50785,1,50,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
218,category_2,30877,1,98,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
245,category_1,17287,1,65,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
284,category_2,124954,1,35,2022-02-18,25.0,Percentage,2022-02-18,2022-02-24
288,category_2,1101571,1,40,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
299,category_2,64978,1,11,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
330,category_4,23200,1,12,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
360,category_2,40759,1,105,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17

In [10]:
test.head()

,CategoryCode,ItemCode,OnPromo,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
0,category_1,1048975,0,2022-03-11,NaN,NaN,NaN,NaN
1,category_1,43738,0,2022-03-11,NaN,NaN,NaN,NaN
2,category_2,1044502,0,2022-02-18,NaN,NaN,NaN,NaN
3,category_2,913561,0,2022-03-11,NaN,NaN,NaN,NaN
4,category_2,216151,0,2022-03-11,NaN,NaN,NaN,NaN

In [16]:
test.loc[test['OnPromo'] == 1]
#test.query('DiscountType.notna()', engine='python')

,CategoryCode,ItemCode,OnPromo,DateID,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate
20,category_3,1064572,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
37,category_2,1076929,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
38,category_2,1010068,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
58,category_2,87559,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
109,category_2,130993,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
110,category_2,836152,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
118,category_2,20824,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
127,category_2,1071124,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
130,category_2,130993,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
149,category_1,1048975,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
177,category_2,59749,1,2022-02-25,25.0,Percentage,2022-02-25,2022-03-03
187,category_2,1010068,1,2022-02-25,10.0,Percentage,2022-02-25,2022-03-03
189,category_3,1064572,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
196,category_2,1006108,1,2022-02-18,10.0,Percentage,2022-02-18,2022-02-24
201,category_3,7666,1,2022-03-04,20.0,Percentage,2022-03-04,2022-03-10
238,category_2,59749,1,2022-03-11,15.0,Percentage,2022-03-11,2022-03-17
244,category_3,1064572,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
245,category_3,7666,1,2022-03-11,20.0,Percentage,2022-03-11,2022-03-17
260,category_2,999403,1,2022-03-11,10.0,Percentage,2022-03-11,2022-03-17
289,category_1,1077118,1,2022-02-18,15.0,Percentage,2022-02-18,2022-02-24
295,category_3,1090024,1,2022-02-18,20.0,Percentage,2022-02-18,2022-02-24
336,category_2,87559,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10
363,category_2,59749,1,2022-03-04,25.0,Percentage,2022-03-04,2022-03-10
373,category_2,130993,1,2022-03-04,10.0,Percentage,2022-03-04,2022-03-10

In [21]:
test['WeeklySales'] = 0

In [17]:
train['OnPromo'] = train['DiscountValue'].apply(lambda x: 1 if x > 0 else 0)

In [22]:
df = pd.concat([train.assign(ind="train"), val.assign(ind="val"), test.assign(ind="test")])
df.head()

,DateID,CategoryCode,ItemCode,WeeklySales,DiscountValue,DiscountType,PromotionStartDate,PromotionEndDate,OnPromo,ind
0,2021-10-01,category_1,3418,18,NaN,NaN,NaN,NaN,0,train
1,2021-10-01,category_1,3427,2,NaN,NaN,NaN,NaN,0,train
2,2021-10-01,category_1,17287,2,NaN,NaN,NaN,NaN,0,train
3,2021-10-01,category_1,17296,28,NaN,NaN,NaN,NaN,0,train
4,2021-10-01,category_1,24136,4,10.0,Percentage,2021-10-01,2021-10-07,1,train

In [24]:
df.isnull().sum()

DateID                   0
CategoryCode             0
ItemCode                 0
WeeklySales              0
DiscountValue         4405
DiscountType          4405
PromotionStartDate    4405
PromotionEndDate      4405
OnPromo                  0
ind                      0
dtype: int64